.Title {
box-sizing: border-box;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: baseline;
padding: 1em;
margin-bottom: 2em;
padding-left: 0px;
padding-right: 0px;
background-color: #c42f43;
color: #fff
}

.nav-title h1 {
    font-family: Chalkduster, fantasy 
}

.nav-title {
    display: flex;
    flex-direction: row;
    align-items: center
}

.title-img {
    width: 5em
}

.navbar-jump {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.navbar-jump ul {
    border-top: 0.5em solid #fff;
/*    background-image: linear-gradient(to bottom, #fff, #c42f43 60%);*/
    border-color: #871e2c;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none
}

@media (prefers-reduced-motion: no-preference) {
.title-img {
    animation: logo-spin infinite 20s linear;
    }
}

@keyframes logo-spin {
    from {
	transform: rotate(0deg);
    }
    to {
	transform: rotate(360deg);
    }
}

