

.nav-element {
    float: left;
    align-items: center;
    margin: 0.5em 1em;
    margin-top: 0px;
/*    border-image: linear-gradient(to bottom right, #fff, #ff1717) 1;*/
    transition: all 0.35s ease-in-out;

}

.priv-nav-link {
    text-decoration: none;
    align-items: center;
    color: white ;
    font-size: 110%;
    border-bottom: 4px solid transparent;
    line-height: 17px;
    height: 35px;
    width: 80px;
    text-align: center;
    transition: all 0.35s ease-in-out;
}
.nav-element:hover {
    transform: scale(1.2) perspective(1px);
    transform-origin: left ;
    transition:transform 0.35s 
}

.priv-nav-link:focus {
    color: white;
    border-color: #fff;
    transform: scale(1.2);
}
.priv-nav-link:hover {
    border-color: #ff63e2;
/*    background: linear-gradient(to right, #ff7575, #f8a8ff);
    border-color: rgba(248, 168, 255, 30);
    border-bottom-right-radius: 1em 1em;
    background-clip: content-box, border-box;*/
    color: #fff;
    transition:transform 0.35s;
}
