
.home-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1e1f24;
    height: 100%;
    color: #fff;
}
.home-title-container {
    padding: 2em;
    color: #fff;
    font-family: Luminari, fantasy;

    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;

    margin-left: 10em;
    margin-right: 10em;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    
}
/*https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/*/ 
.home-title-container:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.home-title-container h3 {
  display: inline;
  line-height: 1.6em;
  text-size-adjust: 90%;
}

.home-quote-author {
    margin-top: 1em;
    margin-left: 1em;
}

.home-bio-container {
    display: flex;
    flex-direction: row;
}


.home-bio-spinning-container {
    width: 45%
}

.home-bio-image {
    height:auto;
    width: auto;
    max-height: 15em;
}


.home-horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.insta-container {
    margin-left: 1.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.insta-container img {
    height: 1em;
    text-align: center;
    margin-right: 0.4em;
}

.home-fast-link-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.home-fast-spinner-container {

    align-self: start;
}
.home-fast-link-container h3 {
    margin-bottom: 1em;
    font-family: Luminari, fantasy;
}



